html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

footer a:hover {
  color: #3f1622;
  text-decoration: underline;
}

li a {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

h2 {
  color: #3f1622;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  font-size: .8rem;
  text-align: center;
}

ul li {
  list-style-type: lower-greek;
}

dd {
  font-weight: bold;
}

data {
  font-weight: normal;
}

.bolded {
  font-weight: bold;
}

.intro {
  font-weight: normal;
}

blockquote {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

cite {
  font-size: .8rem;
}
